html {
  height: 100%;
}
ul,li,body,html{
  padding:0;
  margin:0;
}
body {
  margin: 0px auto;
  overflow-y: auto;
  height: 100%;
}

h3 {
  border-bottom: 1px solid;
}

p {
  margin: 8px;
}

#device-info {
  margin-left: 216px;
}

.left-panel {
  position: absolute;
}

#device-selector {
  width: 200px;
  height: 283px;
}

#deviceList li{
  list-style: none;
  border-bottom:1px solid #eee;
}
.mat_btn{
  position: relative;
  top: -5px;
  background: #5bc0de;
}
.r32{
  width:32%;
  padding:14px 12px;
}
.bg{
  background: #eeeeee;
  line-height: 32px;
 }
.row{
  margin: 0;
}
.col-xs-2,.col-xs-3,.col-xs-5{
  padding:10px;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
}
.col-xs-2.btn{
  margin:3px 10px;
  padding:6px;
}

